[alias]
	vlog = log --graph --date-order --date=relative --pretty=format:\"%C(white)%h: %Cgreen - %an - %Cred %C(cyan)%ar:%Creset%n%s%n\" --color
[user]
	name = Vinicius Reis
	email = luiz.vinicius73@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = master
[sequence]
	editor = code --wait
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[tag]
	gpgSign = true

[includeIf "gitdir:~/ghq/github.com/nextcloud/**"]
  path = ~/ghq/github.com/nextcloud/.gitconfig
